In [1]:
import numpy as np
import pandas as pd

In [2]:
file = open('1.txt', 'r',encoding= 'utf-8') 
a = file.read()

In [70]:
^\w{,8}:

SyntaxError: invalid syntax (<ipython-input-70-4759cc30c3a9>, line 1)

In [75]:
df = pd.DataFrame(a.split('\n'), columns=['dialogue'])
df.dialogue = df.dialogue.astype(str)

In [77]:
import re

def delete_blank(x):
    if x=='':
        return None
    else:
        return x
df.dialogue = df.dialogue.map(delete_blank)

In [79]:
df = df.dropna().reset_index(drop=True)

In [80]:
def delete_parentheses(x):
    return re.sub(r'\(.*\)|\[.*\]', 'delete', x)

In [82]:
df.dialogue = df.dialogue.map(lambda x: delete_parentheses(x))

In [83]:
df = df[df.dialogue!='delete'].reset_index(drop=True)

In [86]:
def loadGloveModel(gloveFile):
    print("Loading Glove Model")
    f = open(gloveFile,'r')
    model = {}
    for line in f:
        splitLine = line.split()
        word = splitLine[0]
        embedding = np.array([float(val) for val in splitLine[1:]])
        model[word] = embedding
    print( "Done.",len(model)," words loaded!")
    return model

In [88]:
model_glove = loadGloveModel('../glove/glove.6B.100d.txt')

Loading Glove Model
Done. 400000  words loaded!

In [89]:
glove_df = pd.DataFrame(model_glove).T

In [92]:
unk_pad_df = pd.DataFrame(columns=glove_df.columns)
unk_pad_df.loc['<PAD>'] = np.zeros(glove_df.shape[1])
unk_pad_df.loc['<UNK>'] = glove_df.mean()

In [93]:
glove_unk_df = pd.concat([unk_pad_df,glove_df])

In [95]:
glove_unk_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
<PAD>,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
<UNK>,0.052098,-0.097114,-0.138076,0.110753,-0.027228,-0.003264,0.031764,-0.050769,0.153216,-0.023674,...,0.016906,0.075768,0.075961,-0.10800,0.208303,-0.078413,0.086636,0.123813,-0.234345,-0.009255
!,0.384720,0.493510,0.490960,-1.543400,-0.336140,0.622200,0.322650,0.075331,0.655910,-0.235170,...,0.493040,-0.067002,0.502220,0.73959,-0.473500,-0.473420,-0.202420,0.026263,0.390520,0.522170
!!,0.226570,0.646510,0.848280,-0.687740,-0.760420,0.127500,0.721060,0.156900,-0.386420,1.710800,...,-0.973900,0.962550,0.561330,0.74162,0.115220,0.191420,-0.674920,0.547120,0.769700,0.350750
!!!,0.225410,0.267880,0.493480,-0.478710,-0.523270,0.597240,0.422010,-0.160110,0.738110,0.210680,...,-0.980150,0.307360,0.161440,0.25967,0.017757,-0.263490,0.699640,-0.121000,-0.102430,0.363660